In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(r'distance_data.csv', index_col=0)
df2= pd.read_csv(r'node_zip_cap.csv')

In [9]:
df.head()

   Origin  Destination  Distance  Time
0    5452         7307       300     5
1    7801         8810        58     1
2    6279        11741       170     3
3    8817         8832         7     0
4    7606        17057       183     3

In [8]:
df2.head()

   First Origin    ZIP  Capacity
0            11  14219      4000
1            16  13601      7000
2            17   6457      7000
3            18   1887      7000
4            20  13209      4000

In [ ]:
df.loc[df1['Origin']=="70-29"]['ADV']

In [12]:
df['Origin'] = np.where(df['Origin'] == df2['ZIP'],df2['First Origin'], df['Origin'])

ValueError: Can only compare identically-labeled Series objects

In [16]:
for i in range(len(df)):
    if df_dist.at[i, 'Origin'] ==

Origin
Destination
Distance
Time